a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: hsl(202, 18%, 82%);
}
.Mainnmenu {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #747474;
  height: 40px;
  padding-left: 2px;
  margin-bottom: 0px;
  display: flex;
  justify-content: flex-end;
  border-bottom: 2px solid #00b39b;
  padding-right: 20px;
}
.Mainnmenu li {
  margin: 15px;
  display: inline-block;
  margin-left: 10px;
}
.SubMenu {
  list-style: none;
  margin-top: 0px;
  background-color: #00b39b;
  display: inline-block;
  position: absolute;
  right: 0px;
  padding-right: 20px;
  border-radius: 12px;
}
